p#notice = notice

<% attributes.each do |attribute| -%>
.field.mb-3.row
  strong.col-form-label.col-sm-2 <%= attribute.human_name %>
  .col-sm-10
    .form-control readonly='readonly' = @<%= singular_table_name %>.<%= attribute.name %>
<% end -%>

.float-end
  => link_to 'Back', <%= index_helper %>_path, class: 'btn btn-secondary'
  =< link_to 'Edit', edit_<%= singular_table_name %>_path(@<%= singular_table_name %>), class: 'btn btn-primary'
